<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles/style.css">

    <link href="/static/styles/boxicons.min.css" rel='stylesheet'>
    <link rel="stylesheet" href="/static/styles/fontawesome-icons/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/bs-css/bootstrap.min.css">

    <title>School Bell Automation</title>
</head>

<body>
    <nav>
        <div class="nav-bar">
            <i class='fa fa-bars sidebarOpen'></i>
            <span class="logo navLogo"><a href="/">School Bell</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">School Bell</a></span>
                    <i class='fa fa-xmark siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class="fa fa-moon moon"></i>
                    <i class='fa fa-sun sun'></i>
                </div>
                <span id="dateTime" class="date-time"></span>

            </div>
        </div>
    </nav>

    <script>

        const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark-mode") {
            body.classList.add("dark");
        }

        // js code to toggle dark and light mode
        modeToggle.addEventListener("click", () => {
            modeToggle.classList.toggle("active");
            body.classList.toggle("dark");

            // js code to keep user selected mode even page refresh or file reopen
            if (!body.classList.contains("dark")) {
                localStorage.setItem("mode", "light-mode");
            } else {
                localStorage.setItem("mode", "dark-mode");
            }
        });

        //   js code to toggle sidebar
        sidebarOpen.addEventListener("click", () => {
            nav.classList.add("active");
        });

        body.addEventListener("click", e => {
            let clickedElm = e.target;

            if (!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")) {
                nav.classList.remove("active");
            }
        });
        function updateDateTime() {
            const now = new Date();
            const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            const dayName = daysOfWeek[now.getDay()];
            const timeString = now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });

            const dateTimeString = dayName + ' - ' + timeString;
            document.getElementById('dateTime').textContent = dateTimeString;
        }

        // Update the date and time every second
        setInterval(updateDateTime, 1000);

        // Call the function once on initial load
        updateDateTime();
    </script>
    <div class="main-content">
        {% block content %}

        {% endblock content %}
    </div>
</body>

</html>